.btn-action, .btn-edit {
    margin-right: 10px;
}
#details-container {
    display: none;
}
#back-formation {
    margin-left: 10px;
}
#affectation-formateur {
    margin-top: 160px;
}
#affectation-assistant {
    margin-top: 160px;
}
.fa-user-times {
    cursor: pointer;
}